# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Actor.class
/Animal.class
/Area.class
/AreaLocation.class
/CirkelDeel.class
/CirkelDiagram.class
/Cockroach.class
/Counter.class
/Druids.class
/Earth.class
/Field.class
/FieldStats.class
/Fox.class
/Grass.class
/Ground.class
/HolyLand.class
/Hunter.class
/Location.class
/Main.class
/MusicPlayer.class
/NewGroundException.class
/Penguin.class
/PieChartSample.class
/Rabbit.class
/Radiation.class
/Randomizer.class
/Simulator$1.class
/Simulator$2.class
/Simulator$3.class
/Simulator$4.class
/Simulator$5.class
/Simulator$6.class
/Simulator.class
/SimulatorTest.class
/SimulatorView$FieldView.class
/SimulatorView.class

.classpath
.project