# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/vrijepinguins.model.Actor.class
/vrijepinguins.model.Animal.class
/vrijepinguins.model.Area.class
/vrijepinguins.model.AreaLocation.class
/CirkelDeel.class
/CirkelDiagram.class
/vrijepinguins.model.Cockroach.class
/vrijepinguins.controller.Counter.class
/vrijepinguins.model.Druids.class
/vrijepinguins.model.Earth.class
/vrijepinguins.model.Field.class
/vrijepinguins.controller.FieldStats.class
/vrijepinguins.model.Fox.class
/Grass.class
/vrijepinguins.model.Ground.class
/HolyLand.class
/vrijepinguins.model.Hunter.class
/vrijepinguins.model.Location.class
/vrijepinguins.Main.class
/vrijepinguins.controller.MusicPlayer.class
/vrijepinguins.controller.NewGroundException.class
/vrijepinguins.model.Penguin.class
/PieChartSample.class
/vrijepinguins.model.Rabbit.class
/Radiation.class
/vrijepinguins.controller.Randomizer.class
/vrijepinguins.controller.Simulator$1.class
/vrijepinguins.controller.Simulator$2.class
/vrijepinguins.controller.Simulator$3.class
/vrijepinguins.controller.Simulator$4.class
/vrijepinguins.controller.Simulator$5.class
/vrijepinguins.controller.Simulator$6.class
/vrijepinguins.controller.Simulator.class
/SimulatorTest.class
/vrijepinguins.view.SimulatorView$FieldView.class
/vrijepinguins.view.SimulatorView.class

.classpath
.project
/vrijepinguins.controller.Simulator$7.class
/bin/
